.page-footer {
  background: @dust;
}

.social__list {
  list-style: none;
}

.social__link {
  text-decoration: none;
}

.copyright__text {
  font-weight: bold;
  text-decoration: none;
  color: @black;
}
