.presentation {
  position: relative;
  background-color: #f9f9f9;
}

.presentation__wrapper {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  max-width: 500px;
  margin: 0 auto;
}

.presentation__header {
  display: flex;
  align-self: stretch;
  justify-content: center;
  padding-top: 86px;
  padding-bottom: 123px;
  background: #f9f9f9 url("../img/hero-mobile@1x.jpg") no-repeat 50% 0;
  background-size: 575px 373px;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
  }
}

.presentation__title {
  .title();

  font-size: 27px;
  width: 250px;
  text-align: center;
}

.presentation__types-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.presentation__type {
  a {
    display: block;
    text-decoration: none;
    font-size: 19px;
    font-weight: bold;
    color: @white;
    padding-top: 25px;
    padding-bottom: 30px;
    padding-left: 9.3%;

    &:hover {
      padding-bottom: 35px;
      margin-top: -5px;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }

  &--interior {
    position: relative;

    a {
      background-color: @turquoise;

      &:hover {
        background-color: @dark-turquoise;
      }
    }
  }

  &--toys {
    position: relative;

    a {
      background-color: @truewinter;

      &:hover {
        background-color: @dark-truewinter;
      }
    }
  }

  span {
    display: block;
    width: 130px;
  }
}

.presentation__interior-icon {
  position: absolute;
  top: 23px;
  right: 11.25%;
  width: 40px;
  height: 62px;
  opacity: 0.5;
  cursor: pointer;
  fill: @green-jungle;
}

.presentation__type:hover .presentation__interior-icon {
  top: 18px;
  opacity: 0.7;
}

.presentation__type:active .presentation__interior-icon {
  top: 18px;
  opacity: 0.3;
}

.presentation__toys-icon {
  position: absolute;
  top: 21px;
  right: 8.4%;
  display: block;
  width: 60px;
  height: 60px;
  opacity: 0.5;
  cursor: pointer;
  fill: @green-jungle;
}

.presentation__type:hover .presentation__toys-icon {
  top: 16px;
  opacity: 0.7;
}

.presentation__type:active .presentation__toys-icon {
  top: 16px;
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .presentation {
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -5px;
      display: flex;
      width: 100%;
      height: 15px;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      background-position: -5px top;
      background-size: auto 23px;
      z-index: 2;
    }
  }

  .presentation__wrapper {
    min-width: 768px;
    max-width: 960px;
    margin: 0 auto;
    margin-top: -60px;
    z-index: 1;
  }

  .presentation__header {
    padding-top: 151px;
    padding-bottom: 375px;
    background-image: url("../img/hero-tablet@1x.jpg");
    background-size: 1150px 746px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
    }
  }

  .presentation__title {
    .title();

    font-size: 43px;
    line-height: 50px;
    width: 500px;
    text-align: center;
  }

  .presentation__types-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 668px;
    margin: 0 auto;
  }

  .presentation__type {
    width: 50%;

    a {
      padding-top: 27px;
      padding-left: 36px;
      font-size: 20px;
      line-height: 30px;
    }
  }
}

@media (min-width: @desktop-width) {
  .presentation__wrapper {
    min-width: 1150px;
    margin: 0 auto;
    margin-top: -60px;
  }

  .presentation__header {
    padding-top: 166px;
    padding-bottom: 360px;
    background-image: url("../img/hero-desktop@1x.jpg");
    background-size: 1150px 746px;
  }

  .presentation__title {
    .title();

    font-size: 53px;
    line-height: 58px;
    width: 670px;
    text-align: center;
  }

  .presentation__types-list {
    width: 1050px;
  }
}
