.special-offer {
  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-position: 1px bottom;
  background-size: auto 6px;
}

.special-offer__wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-width: 320px;
  margin: 0 auto;
  padding-left: 9.3%;
  padding-right: 9.3%;
  padding-bottom: 41px;
}

.special-offer__title {
  .title();

  padding-bottom: 4px;
}

.special-offer__headings {
  padding-top: 31px;
  padding-bottom: 22px;
}

.special-offer__week-stuff {
  text-transform: uppercase;
  font-weight: bold;
  line-height: 20px;
  color: @turquoise;
}

.special-offer__description {
  color: @grey;
  font-size: 15px;
  margin: 0;
  padding-bottom: 15px;
}

.special-offer__types-list {
  width: 100%;
  color: @grey;
  font-size: 15px;
  border-collapse: collapse;
}

.special-offer__value,
.special-offer__field {
  padding-top: 12px;
  padding-bottom: 10px;
  border-bottom: 1px solid @lightgrey;
}

.special-offer__value {
  padding-right: 13px;
}

.special-offer__image {
  padding-top: 27px;
  padding-bottom: 24px;
  align-self: center;
  box-sizing: content-box;

  img {
    width: 260px;
    height: 315px;
  }
}

.special-offer__price {
  font-weight: bold;
  text-align: center;
  padding-bottom: 25px;
  color: @grey;
}

.special-offer__order-btn {
  .btn();

  text-align: center;
}

@media (min-width: @tablet-width) {
  .special-offer {
    background-position: 0 bottom;
    background-size: auto 15px;
  }

  .special-offer__wrapper {
    position: relative;
    min-width: 768px;
    margin: 0 auto;
    padding-bottom: 68px;
    padding-left: 5.7%;
    padding-right: 6.6%;
  }

  .special-offer__headings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 44px;
    padding-bottom: 48px;
  }

  .special-offer__week-stuff {
    width: 100px;
    padding-top: 2px;
    padding-right: 25px;
    text-align: center;
  }

  .special-offer__description {
    width: 43.3%;
    font-size: 17px;
    line-height: 30px;
    padding-bottom: 33px;
    padding-left: 4px;
  }

  .special-offer__types-list {
    width: 43.3%;
    font-size: 15px;
    line-height: 20px;
    margin-left: 4px;
  }

  .special-offer__image {
    position: absolute;
    z-index: -1;
    bottom: 62px;
    right: 51px;
    padding: 0;
    margin: 0;

    img {
      width: 333px;
      height: 404px;
    }
  }

  .special-offer__price {
    align-self: flex-start;
    width: 43.3%;
    font-size: 20px;
    line-height: 24px;
    padding-top: 45px;
    padding-bottom: 34px;
    padding-left: 16px;
  }

  .special-offer__order-btn {
    width: 43.3%;
    line-height: 20px;
    padding-left: 6px;
    margin-left: 4px;
  }
}

@media (min-width: @desktop-width) {
  .special-offer {
    background-size: auto;
  }

  .special-offer__wrapper {
    width: 1150px;
    margin: 0 auto;
    padding-right: 76px;
    padding-bottom: 95px;
    padding-left: 222px;
  }

  .special-offer__headings {
    position: relative;
    padding-top: 124px;
  }

  .special-offer__week-stuff {
    position: absolute;
    left: -126px;
  }

  .special-offer__description {
    padding-bottom: 50px;
    width: 35%;
  }

  .special-offer__types-list {
    width: 33%;
  }

  .special-offer__image {
    right: 45px;
    bottom: 93px;

    img {
      width: 525px;
      height: 636px;
    }
  }

  .special-offer__price {
    width: 33%;
    padding-top: 108px;
    padding-left: 76px;
    text-align: left;
  }

  .special-offer__order-btn {
    width: 290px;
  }
}
